<ion-view view-title="Connect Card">
	<ion-content class="">
		<h1>Connect with us.</h1>
		<ion-item>
			<ion-label>First Name:</ion-label>
			<ion-input type="text" name="fName" value='{{settings.fName}}' />

			<ion-label>Last Name:</ion-label>
			<ion-input type="text" name="lName" value='{{settings.lName}}' />

			<ion-label>Gender:</ion-label><select>
				<option value="m">Male</option>
				<option value="f">Female</option>
			</ion-select>
		</ion-item>

		<ion-list>
		<ion-item>
			<ion-label>Age:</ion-label>
			<ion-select ng-repeat="item in ageList"
					ng-value="item.value"
					ng-model="settings.age"
					ng-change="ageChange(item)"
					name="age" >
				{{item.text}}
			</ion-select>
		</ion-item>
		</ion-list>

		<ion-item>
			<ion-label>I am...</ion-label><select name="iAm">
				<option value="0">I am on my own</option>
				<option value="1">I am with my family</option>
			</select>
		</ion-item>

		<ion-item>
			<ion-label>Address:</ion-label><ion-input type="text" name="address" value='{{settings.address}}' />
			<ion-label>Suburb:</ion-label><ion-input type="text" name="suburb" value='{{settings.suburb}}' />
			<ion-label>Post Code:</ion-label><ion-input type="text" name="postCode" value='{{settings.postCode}}' />
			<ion-label>Home Phone:</ion-label><ion-input type="text" name="homePhone" value='{{settings.homePhone}}' />
			<ion-label>Mobile:</ion-label><ion-input type="text" name="mobile" value='{{settings.mobile}}' />
			<ion-label>Email:</ion-label><ion-input type="text" name="email" value='{{settings.email}}' />
		</ion-item>

		<ion-item>
			<ion-select ng-repeat="item in taskList"
					ng-value="item.value"
					ng-model="settings.age"
					name="task" >
				{{item.text}}
			</ion-select>
		</ion-item>

		<ion-item>
			<ion-label>Details:</ion-label>
			<ion-input type="text" name="details" placeholder="details"></ion-input>
		</ion-item>

	</ion-content>
</ion-view>
