  <ion-view view-title="Events">

		<style>
		.event-page-wrapper .event-header {
			background:url("{{data.imageUrl}}"), #41b1c2;
			background-size:cover;
			background-position:center;
			background-attachment: fixed;
		}
		.event-page-wrapper .gradient-fade-down {
			height: 15vh;
			background: linear-gradient(rgba(255,255,255,0), #fff);
			bottom: 0;
			
			width: 100%;
			padding-top: 50vh;
		}
		</style>



	<ion-content class="event-content" scroll="true">
		<div class='event-page-wrapper'>
			<div class='event-header' >
				<div class='gradient-fade-down'></div>
			</div>
			<h1>{{data.title}}</h1>
			<p>{{data.description}}</p>
			<p>{{data.date}}</p>
			<!-- <p>{{data.imageUrl}}</p> -->
			<center><a href='{{data.link}}'>More information</a></center>
			<!-- <p>{{data.category}}</p> -->
			
			<!-- <p>Weather</p> -->
		</div>

		<h2>{{dateFormat}}</h2>

	</ion-content>

	
</ion-view>


