  <ion-view view-title="Events">

		<style>
		.event-page-wrapper .event-header {
			background-image:url("{{data.imageUrl}}");
			background-color:#41b1c2;
			background-size:cover;
			background-position:center;
			background-attachment: fixed;
		}
		.event-page-wrapper .gradient-fade-down {
			height: 15vh;
			background: linear-gradient(rgba(255,255,255,0), #fff);
			bottom: 0;
			
			width: 100%;
			padding-top: 50vh;
		}
		</style>



	<ion-content class="event-content" scroll="true">
		<div class='event-page-wrapper'>
			<div class='event-header' >
				<div class='gradient-fade-down'></div>
			</div>
			<h1 ng-bind-html="data.title"></h1>
			<p ng-bind-html="data.description"></p>
			<p ng-bind-html="date"></p>
			<!-- <p>{{data.imageUrl}}</p> -->
			
				<a href='{{data.link}}'>More information</a>

			<!-- <p>{{data.category}}</p> -->
			
			<p>Weather</p>
			<p ng-bind="weatherPrecis"></p>
			<p>{{weatherTemp}} Degrees</p>
		</div>

	</ion-content>

	
</ion-view>


