<!--
	Home Page
	5 or more events depending on size of screen, most popular trending
-->

<ion-view>    
     <ion-nav-title>
        <span style="letter-spacing:5px; margin-left:5px; font-weight:bold; text-transform:uppercase; font-family:'Lato', sans-serif; font-size:12px;">popular</span>
     </ion-nav-title>
	<ion-content class="home-content">
		
		<!-- This will eventually be dynamic -->
		<!-- <ion-item href="#/app/events/{{$index}}">
			<h2> WOMAD Day 1 </h2>
			<h3> music/culture </h3>
		</ion-item>

		<ion-item href="#/app/events/{{$index}}">
			<h2> Clipsal 500 </h2>
			<h3> SPORT </h3>
		</ion-item>

		<ion-item href="#/app/events/{{$index}}">
			<h2> Big Day Out </h2>
			<h3> music/culture </h3>
		</ion-item> -->
		<ion-item ng-repeat="d in data" href="#/app/event/{{$index}}">
			<h2>{{d.title}}</h2>
			<h3>{{d.description}}</h3>
		</ion-item>



	</ion-content>
</ion-view>
