<!-- To Do:
1. Stop scrolling on menu
2. change icons? i kinda like some of the new ones though
3. Change highlight color
-->



<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-positive">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-drag" menu-toggle="left" style='margin-left:10px;'>
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu width="300" side="left" scroll="false">
		<ion-header-bar class="side-menu">
			<label class="item item-input">
				<form ng-submit="submit()" ng-controller="AppCtrl">
			  		<input name='searchText' type="text" ng-model="searchText" placeholder="Search" style='display:inline-block'>
			  		<input type='submit' value='&rarr;' style='display:inline-block;border:none;color:#A5A5A5;font-size:1.6em;'>
			  	</form>
			</label>
		</ion-header-bar>

		<ion-content class="side-menu">

			<ion-list>

				<ion-item menu-close href="#/app/home" class="borderless">
					<div class='category-link' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>HOME BUTTON</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Arts & Culture" class="borderless">
					<div class='category-link category-link-culture' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Arts & Culture</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/categories/Film" class="borderless">
					<div class='category-link category-link-film' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Film</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Splash Adelaide" class="borderless">
					<div class='category-link category-link-splash' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Splash Adelaide</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Community" class="borderless">
					<div class='category-link category-link-community' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Community</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/History" class="borderless">
					<div class='category-link category-link-history' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>History</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Live Music" class="borderless">
					<div class='category-link category-link-live-music' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Live Music</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Food" class="borderless">
					<div class='category-link category-link-food' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Food</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Events" class="borderless">
					<div class='category-link category-link-events' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Events</p>
						</i>
					</div>
				</ion-item>

				<ion-item menu-close href="#/app/categories/Exhibitions" class="borderless">
					<div class='category-link category-link-exhibitions' style='padding:30px;'>
						<i class="icon icon-left tBlack">
							<p>Exhibitions</p>
						</i>
					</div>
				</ion-item>

<!-- 
Arts & Culture
Film
Splash Adelaide 
History
Live Music
Food
Community
Events
Exhibitions
 -->

			</ion-list>

		</ion-content>
	</ion-side-menu>
</ion-side-menus>
