<ion-view view-title="Podcast">
  <ion-content>
  	<!-- Title -->
    <h1 class="center">{{podcast.serviceName}} || {{podcast.serviceDate}}</h1>

    <!-- Content -->
	<div class="podcast-description">
    	<p>{{podcast.messageDescription}}</p>
	</div>

    <div ng-switch on="settings.mediaType" class="center" style="position: relative; min-height: 65vh">
      <div ng-switch-when="video">
      	<button class="bottom button button-outline button-positive auto-margin" ng-click="playVideo()">Play</button>
      </div>

      <div ng-switch-when="videoHD">
        <button class="bottom button button-outline button-positive auto-margin" ng-click="playVideoHD()"></button>
      </div>

      <div ng-switch-default>
        <button class="bottom button button-outline button-positive auto-margin" ng-click="playAudio()">Play</button>
      </div>
    </div>

  </ion-content>
</ion-view>
