/* NOTES */
/*  */

/* CSS Imports */
@import url('fonts.css');

/*Images*/
.home-content {
	/*background:#f0f0f0;*/
	background:linear-gradient(#f0f0f0, rgba(246, 114, 128, .2));
	-webkit-background-size: cover;

}

.heading-image {
	width: 100%;
}

/*Text Formatting*/
.center{
	text-align: center;
}

.justify{
	text-align: justify;
}

.tBlack {
	color: black !important;
}

h1 {
	font-family: 'opensans-regular';
}

h2 {
	font-family: 'opensans-light';
}

h3 {
	font-family: 'opensans-regular';

}

h4 {
	font-family: 'opensans-light';
}

h5 {

}

h6 {

}


p
{
	font-family: 'opensans-light';
}

.noDecoration
{
	text-decoration: none;
}

a:visited, a:link, a:active, a:hover
{
	color: white;
}

/*Nav Bars*/
.bar.bar-positive {
	border-color: #5ba880;
	background-color: #f0f0f0;
	background-image: none;
}


/*Side Menu*/
.side-menu{
	background-color: #fff;
}

.side-menu h1 {
	color: black !important;
	font-size: 30px !important;
	font-family: 'opensans-light' !important;
}

.side-menu i {
	color: black !important;
}


.side-menu .item-content{
	background-color: #fff;
}

.borderless {
	border: none;
}

.menu-title{
	/*color: #444;*/
}

.black-text {
	color: black;
}

.item-content i {
	color: #fff;
	font-family: 'opensans-light';
}

.icon {
	font-size: 20px;
}

/* Podcasts */
.podcast-description {
	padding: 0 0 3% 3%;
}

.podcast-image{
	width:20px;
}

/* Podcast Player */
.centerme {
	position: relative;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.fullscreen-player {
	height: 100vh;
	width: 100%;
	left: 0;
}

/* Podcast */
.button {
	min-width: 100px;
}

.auto-margin {
	margin: 0 auto;
}

.bottom {
	bottom: 0;
	position: absolute;
}



/* Settings Menu */
.button-bar h2{
	display: -webkit-inline-flex;
			-webkit-align-items: center;
}


/* Connect */
/*input[type=text], select {*/
	/*border: 1px solid;*/
/*}*/


/* Backgrounds */
.transparent {
	background: transparent !important;
}


/*
OVERWRITING IONIC DEFAULTS
*/

.bar.bar-positive .title {
    color: #1c1c1c;
}
.item-complex, a.item.item-complex, button.item.item-complex {
    padding: 0;
    margin: 15px;
}
.bar-positive .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #1c1c1c;
    font-size: 17px;
}
 h2 {
	color:#1c1c1c;
	font-weight:bold !important;
	font-family:'Lato', sans-serif;
	letter-spacing:3px;
	margin-left:3px;
	font-size:1em !important;
	padding-bottom:8px;
}
h3 {
	color:#1c1c1c;
	font-size:0.8em !important;
	letter-spacing:1px;
	text-transform: uppercase;
}
.bar {
	padding:0 !important;
}
.item-input {
	border:none;
	border-bottom:1px solid #ddd;
	width: 101%;
	background:#222;
	color:#333;
	padding:30px;
}
input[type="text"] {
	color:#A5A5A5;
	font-style: italic;
	width:100%;
	margin-top: -10px;
}
::-webkit-input-placeholder {
   font-style:italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-style:italic;; 
}

::-moz-placeholder {  /* Firefox 19+ */
   font-style:italic;; 
}
.menu-left .has-header {
	top:61px;
}
:-ms-input-placeholder {  
   font-style:italic;; 
}
.item-complex .item-content, .item-radio .item-content {
	padding:0;
}
.home-content .item-complex {
	padding:0;
}
.category-link .icon p {
	color:#fff;
	font-size:1em;
}
.category-link-culture .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/arts & culture.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}
.category-link-film .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/film.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}
.category-link-splash .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/splash.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.category-link-community .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/community.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.category-link-history .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/history.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.category-link-live-music .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/live music.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.category-link-food .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/food.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.category-link-events .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/event.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.category-link-exhibitions .icon p::before {
	content: "";
	position: absolute;
	/*margin:-30px;*/
	top:0;
	left:0;
	z-index: -1;
	
	display: block;
	background-image: url('../img/exhibition.jpg');
	background-position:center;
	/*width: calc(100% - 35px);*/
	width:100%;
	height: 100px;
	background-size:cover;
	
	-webkit-filter: brightness(.5);
	-moz-filter: brightness(.5);
	-o-filter: brightness(.5);
	-ms-filter: brightness(.5);
	filter: brightness(.5);
}

.background-item {
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}

.item-complex .item-content, .item-radio .item-content {
	background:rgba(0, 0, 0, 0.75);
}

.category-link h2, .category-link h3 {
	color:#fff;
	text-align:center;
}
.event-header {
	height:50vh;
}



		.event-page-wrapper .ng-binding {
			padding: 5px 15px 5px 15px;
		}
		.event-page-wrapper h1 {
			text-align:center;
			font-family:'Lato', sans-serif;
			letter-spacing: 2px;
		}
		.event-page-wrapper p {
			text-align:justify;
			font-family:'Lato', sans-serif;
			letter-spacing: 1px;
		}
		.event-page-wrapper * {
			color:#262626;
		}
		.event-page-wrapper a {
			text-align:center;
			background:#262626;
			color:#fff;
			text-decoration:none;
			display:block;
			padding:12px;
			text-transform: uppercase;
			letter-spacing: 3px;
			padding-left:3px;
}